USE [master]
GO
/****** Object:  Database [MyEhealthDB]    Script Date: 02-10-2023 20:07:50 ******/
CREATE DATABASE [MyEhealthDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyEhealthDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\MyEhealthDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyEhealthDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\MyEhealthDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyEhealthDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyEhealthDB]
GO
/****** Object:  Table [dbo].[Tbl_Patient]    Script Date: 02-10-2023 20:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Mobile_Number] [nchar](10) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[BloodGroup] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreatePatient]    Script Date: 02-10-2023 20:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreatePatient]
(  
   @Name varchar (50),
   @Email varchar (50),  
   @Address varchar (50),
   @Mobile_Number nchar (10),
   @DateOfBirth datetime,
   @Age int,
   @BloodGroup varchar (50),
   @Gender varchar (50)
)  
as  
begin  
   Insert into dbo.Tbl_Patient (Name,Email,Address,Mobile_Number,DateOfBirth,Age,BloodGroup,Gender)
   values(@Name,@Email,@Address,@Mobile_Number,@DateOfBirth,@Age,@BloodGroup,@Gender)  
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePatient]    Script Date: 02-10-2023 20:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_DeletePatient]         
(            
   @Id int           
)            
as             
begin            
   Delete from dbo.Tbl_Patient where Id=@Id            
End  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPatient]    Script Date: 02-10-2023 20:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetAllPatient]      
as        
Begin        
    select *        
    from dbo.Tbl_Patient
    order by Id  
End  
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePatient]    Script Date: 02-10-2023 20:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_UpdatePatient]            
(            
    @Id INTEGER ,          
    @Name VARCHAR(50),           
    @Email VARCHAR(30),          
    @Address VARCHAR(220),           
    @Mobile_Number nchar(10),
	@DateOfBirth datetime,
	@Age int,
	@BloodGroup varchar (50),
    @Gender varchar (50)
)          
as            
begin            
   Update Dbo.Tbl_Patient             
   set Name=@Name,            
   Email=@Email,          
   Address=@Address,
   Mobile_Number=@Mobile_Number,   
   DateOfBirth = @DateOfBirth,
   @Age = @Age,
   @BloodGroup = @BloodGroup,
   @Gender = @Gender
   where Id=@Id       
End  
GO
USE [master]
GO
