@model MyEhealth.Domain.Models.PatientModel

@{
    ViewData["Title"] = "Create";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group ma-1">
    <label asp-for="Name" class="control-label"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group ma-1">
    <label asp-for="DateOfBirth" class="control-label"></label>
    <input type="datetime-local" asp-for="DateOfBirth" class="form-control" id="inputDate" runat="server">
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>
<div class="form-group ma-1">
    <label asp-for="Age" class="control-label"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group ma-1">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group ma-1">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group ma-1">
    <label asp-for="MobileNumber" class="control-label"></label>
    <input asp-for="MobileNumber" class="form-control" />
    <span asp-validation-for="MobileNumber" class="text-danger"></span>
</div>
<div class="form-group ma-1">
    <label asp-for="Gender" class="control-label"></label>
    <input type="radio" name="Gender" asp-for="Gender" value="Male" id="test" checked="checked" /> Male
    <input type="radio" name="Gender" asp-for="Gender" value="Female" /> Female
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>
<div class="form-group ma-1">
    <label asp-for="BloodGroup" class="control-label"></label>
    <input asp-for="BloodGroup" class="form-control" />
    <span asp-validation-for="BloodGroup" class="text-danger"></span>
</div>

@*section Scripts {
    {await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
