<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<logger name="default">
			<level value="ALL"/>
		</logger>

		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\Logs\\CurrentLog" />
			<appendToFile value="true" />
			<datePattern value="yyyyMMdd" />
			<rollingStyle value="Date" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<acceptOnMatch value="true" />
				<levelMin value="INFO" />
				<levelMax value="ERROR" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern
				value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<appender name="ADONetAppender_SqlServer" type="log4net.Appender.ADONetAppender, Sitecore.Logging">
			<bufferSize value="1" />
			<param name="ConnectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<param name="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=MyEhealthDB;Integrated Security=True" />
			<param name="CommandText" value="INSERT INTO Log4NetLog ([Date],[Thread],[Level],[Logger],[Message],[Exception])
			    VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
			<param name="Parameter">
				<param name="ParameterName" value="@log_date" />
				<param name="DbType" value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
				<!--<param name="Layout" type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
			</param>-->
			</param>
			<param name="Parameter">
				<param name="ParameterName" value="@thread" />
				<param name="DbType" value="String" />
				<param name="Size" value="255" />
				<param name="Layout" type="log4net.Layout.PatternLayout">
					<param name="ConversionPattern" value="%thread" />
				</param>
			</param>
			<param name="Parameter">
				<param name="ParameterName" value="@log_level" />
				<param name="DbType" value="String" />
				<param name="Size" value="50" />
				<param name="Layout" type="log4net.Layout.PatternLayout">
					<param name="ConversionPattern" value="%level" />
				</param>
			</param>
			<param name="Parameter">
				<param name="ParameterName" value="@logger" />
				<param name="DbType" value="String" />
				<param name="Size" value="255" />
				<param name="Layout" type="log4net.Layout.PatternLayout">
					<param name="ConversionPattern" value="%logger" />
				</param>
			</param>
			<param name="Parameter">
				<param name="ParameterName" value="@message" />
				<param name="DbType" value="String" />
				<param name="Size" value="4000" />
				<param name="Layout" type="log4net.Layout.PatternLayout">
					<param name="ConversionPattern" value="%message" />
				</param>
			</param>
			<parameter>
				<param name="ParameterName" value="@exception" />
				<param name="DbType" value="String" />
				<param name="Size" value="4000" />
				<param name="Layout" type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
	</log4net>
</configuration>
<!--<param name="Layout" type="log4net.Layout.ExceptionLayout">
				<param name="ConversionPattern" value="%m" />
			</param>-->
<!--<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />-->